{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Register User{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    <label for="email">Email Address:</label>
    <input name="email" id="email" required>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required>
    <label for="customer_type">Customer type:</label>
    <select id="customer_type" name="customer_type">
        <option></option>
        <option value="RUG">Employee at RUG</option>
        <option value="Hanze">Employee at Hanze</option>
        <option value="student">Student</option>
    </select>
    <label for="student_employee_code">Student/Employee Code:</label>
    <input name="student_employee_code" id="student_employee_code">
    <label for="first_name">First name:</label>
    <input name="first_name" id="first_name">
    <label for="surname">Surname:</label>
    <input name="surname" id="surname">
    <label for="tel_number">Tel. Number:</label>
    <input name="tel_number" id="tel_number">
    <label for="payment_method">Payment method:</label>
    <select id="payment_method" name="payment_method">
        <option value="manual_payment">Manual payment</option>
        <option value="direct_debit">Direct Debit</option>
    </select>
    <input type="submit" value="Register">
</form>
{% endblock %}